<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <a href="/" class="site-header__logo">
          <img src='/assets/logos/logo-1024.png' style="width: 50px; height: 50px; margin-top:20px;"/>
          {{site.title}}
        </a>
      </div>
      <div class="col-xs-9" style="display: flex; line-height: 50px; align-items: center; justify-content: flex-end;">

        <div class="wrapper" style="display:flex; align-items: center;">
          <ul class="site-header__nav hidden-xs">
            <li><a href="/quick-start"><i class="fas fa-rocket"></i> Quick Start</a></li>
            <li><a href="/tutorials"><i class="fas fa-cubes"></i> Tutorials</a></li>
            <li><a href="/api"><i class="fas fa-book"></i> API Reference</a></li>
          </ul>
      </div>
      </div>
    </div>
  </div>
</header>
